<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.parking.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xl.parking.domain.Comment">
        <id column="rid" property="rid" />
        <result column="res_cont" property="resCont" />
        <result column="person" property="person" />
        <result column="com_area" property="comArea" />
        <result column="rtime" property="rtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rid, res_cont, person, com_area, rtime
    </sql>

</mapper>
