<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.parking.mapper.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xl.parking.domain.Message">
        <id column="mid" property="mid" />
        <result column="msg_title" property="msgTitle" />
        <result column="msg_cont" property="msgCont" />
        <result column="person" property="person" />
        <result column="msg_see" property="msgSee" />
        <result column="mtime" property="mtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        mid, msg_title, msg_cont, person, msg_see, mtime
    </sql>

</mapper>
