<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.parking.mapper.StallMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xl.parking.domain.Stall">
        <id column="sid" property="sid" />
        <result column="stall_num" property="stallNum" />
        <result column="stall_area" property="stallArea" />
        <result column="stall_type" property="stallType" />
        <result column="stall_state" property="stallState" />
        <result column="stall_money" property="stallMoney" />
        <result column="stall_live" property="stallLive" />
        <result column="user_id" property="userId" />
    </resultMap>

    <resultMap id="All" type="com.xl.parking.domain.Stall">
        <id column="sid" property="sid" />
        <result column="stall_num" property="stallNum" />
        <result column="stall_area" property="stallArea" />
        <result column="stall_type" property="stallType" />
        <result column="stall_state" property="stallState" />
        <result column="stall_money" property="stallMoney" />
        <result column="stall_live" property="stallLive" />
        <result column="user_id" property="userId" />
        <collection property="user" javaType="com.xl.parking.domain.User">
            <result column="username" property="username" />
            <result column="nike" property="nike" />
            <result column="age" property="age" />
            <result column="sex" property="sex" />
            <result column="phone" property="phone" />
            <result column="card" property="card" />
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sid, stall_area, stall_type, stall_state, stall_money, user_id
    </sql>

    <update id="setStallOrg">
        update stall set user_id=null,stall_state='空闲中' where sid=#{sid}
    </update>

    <select id="getStallAll" resultMap="All">
        select *
        from stall,user
        where stall.user_id=user.uid
        <if test="nike!=null">
            and user.nike like CONCAT('%',#{nike},'%')
        </if>
        <if test="card!=null">
            and user.card like CONCAT('%',#{card},'%')
        </if>
    </select>

</mapper>
