<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.parking.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xl.parking.domain.User">
        <id column="uid" property="uid" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="card" property="card" />
        <result column="money" property="money" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, username, password, age, sex, phone, card, money, create_time
    </sql>

    <select id="getUserDataType" resultType="com.xl.parking.domain.vo.DateType">
        select s.stall_type as name,count(1) as value
        from stall_res r,stall s
        where r.stall_id=s.sid and r.person=#{person} group by s.stall_type
    </select>

    <select id="getUserDataMoney" resultType="com.xl.parking.domain.vo.DataMoney">
        select DATE_FORMAT(over_time,"%Y-%m-%d") name,sum(pay_money) value
        from stall_res
        where person=#{person}
        group by DATE_FORMAT(over_time,"%Y-%m-%d")
        order by DATE_FORMAT(over_time,"%Y-%m-%d") ASC limit 0,5
    </select>

</mapper>
